    *.o
    main
    .json
    .wsuo
    .vsidx
*.vsidx
ASM_PJ/.vs/ASM_PJ/v17/.wsuo
ASM_PJ/.vs/ProjectSettings.json
ASM_PJ/Debug/ASM_PJ.exe
ASM_PJ/Debug/ASM_PJ.pdb
ASM_PJ/ASM_PJ/Debug/main.obj
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/Masm.write.1u.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/Masm.read.1u.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/link.write.1.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/link.read.1.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/ASM_PJ.lastbuildstate
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/link.command.1.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.ilk
ASM_PJ/ASM_PJ/Debug/ASM_PJ.exe.recipe
ASM_PJ/.vs/slnx.sqlite
*.exe
ASM_PJ/ASM_PJ/x64/Debug/ASM_PJ.tlog/Masm.read.1u.tlog
ASM_PJ/ASM_PJ/x64/Debug/ASM_PJ.tlog/Masm.write.1u.tlog
ASM_PJ/ASM_PJ/x64/Debug/ASM_PJ.tlog/ASM_PJ.lastbuildstate
ASM_PJ/ASM_PJ/x64/Debug/ASM_PJ.log
ASM_PJ/ASM_PJ/Debug/main.obj
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/unsuccessfulbuild
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/Masm.write.1u.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/Masm.read.1u.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/ASM_PJ.lastbuildstate
ASM_PJ/ASM_PJ/Debug/ASM_PJ.log
ASM_PJ/.vs/ASM_PJ/v17/Solution.VC.db
ASM_PJ/.vs/ASM_PJ/v17/DocumentLayout.json
ASM_PJ/.vs/ASM_PJ/v17/.suo
ASM_PJ/Debug/ASM_PJ.exe
ASM_PJ/Debug/ASM_PJ.pdb
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/Masm.write.1u.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/Masm.read.1u.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/link.secondary.1.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/link.write.1.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/link.read.1.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/link.command.1.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/ASM_PJ.lastbuildstate
ASM_PJ/ASM_PJ/Debug/ASM_PJ.log
ASM_PJ/ASM_PJ/Debug/ASM_PJ.ilk
ASM_PJ/.vs/ASM_PJ/v17/Browse.VC.opendb
ASM_PJ/.vs/ASM_PJ/v17/Browse.VC.db-shm
ASM_PJ/.vs/ASM_PJ/v17/Browse.VC.db-wal
ASM_PJ/ASM_PJ/Debug/ASM_PJ.exe.recipe
ASM_PJ/Debug/ASM_PJ.pdb
ASM_PJ/Debug/ASM_PJ.exe
ASM_PJ/ASM_PJ/Debug/ASM_PJ.log
ASM_PJ/ASM_PJ/Debug/ASM_PJ.ilk
ASM_PJ/.vs/ASM_PJ/v17/Browse.VC.db
ASM_PJ/.vs/ASM_PJ/v17/.suo
ASM_PJ/.vs/ASM_PJ/v17/.suo
ASM_PJ/.vs/ASM_PJ/v17/Browse.VC.db
ASM_PJ/.vs/ASM_PJ/v17/DocumentLayout.json
ASM_PJ/ASM_PJ/Debug/ASM_PJ.exe.recipe
ASM_PJ/ASM_PJ/Debug/ASM_PJ.ilk
ASM_PJ/ASM_PJ/Debug/ASM_PJ.log
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/ASM_PJ.lastbuildstate
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/link.read.1.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/link.secondary.1.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/link.write.1.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/Masm.read.1u.tlog
ASM_PJ/ASM_PJ/Debug/ASM_PJ.tlog/Masm.write.1u.tlog
ASM_PJ/ASM_PJ/Debug/main.obj
ASM_PJ/Debug/ASM_PJ.exe
ASM_PJ/Debug/ASM_PJ.pdb
